<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Store Manager
    </title>
    <link rel="stylesheet" href='static/css/style.css'>
    <script src="static/CSS/main.js"></script>
</head>

<body>
    <div class="container">
        {% block navigation %}
        <header>
            <div class="header">
                    <div class="container" onclick="myFunction(this); todo();">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
            <div class="link">
               <a href="#" name="store-manager">Store-Manager</a>
            </div>
                <form class="search">
                    <input class="searchinput" type="text" placeholder="Search for products">
                    <button class="btn">search</button>
                
                <div class="header_buttons">
                    <a href = "checkout.html" class="btn bg-slate login_button"> Cart
                    <img src="static/images/cart.png" alt="cart" class="cart"></a>
                   <a href="profile.html" class="btn bg-slate login_button">Profile
                        <img src="static/images/profile.png" alt="profile" class="cart">
                   </a>
                   <a href="login.html" class="btn bg-slate login_button">LOGOUT
                        <img src="static/images/logout.jpg" alt="logout" class="cart"></a>
                </div>
            </form>
            </div>
        </header>
        {% endblock %}
        
        {% block sidebar %} 
        <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Home</a>
              <div class="dropdown">
                <a href="products.html" class="dropbtn">Products</a>
                <div class="dropdown-content">
                        <a href="products.html">Categories</a>
                        <a href="products.html">Toiletries</a>
                        <a href="products.html">Foodstuffs</a>
                        <a href="products.html">Drinks</a>
                        <a href="products.html">Electronics</a>
                </div>
            </div>
                <a href="sales.html">Sales records</a>
                <a href="inventory.html">Inventory</a>
                <a href="employees.html">Employee</a>
        </div>
        {% endblock %}
          <!-- Page content -->
          <div class="main">
                {% block content %}
                <div class="sales-container">
                    <div class="title-checkout">
                            <h2>Employees</h2>
                    </div>
                        <div class="sales-table">
                            <table>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Full Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Level</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td width="100px">John Doe</td>
                                    <td>0700000000</td>
                                    <td>john.doe@mail.com</td>
                                    <td>Admin</td>
                                    <td>
                                        <a href="#"><img src="static/images/edit.png" height="30px" width="30px"></a>
                                    </td>
                                    <td>
                                        <a href="#"><img src="static/images/delete.png" height="30px" width="30px"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td width="100px">John Doe</td>
                                    <td>0700000000</td>
                                    <td>john.doe@mail.com</td>
                                    <td>Admin</td>
                                    <td>
                                        <a href="#"><img src="static/images/edit.png" height="30px" width="30px"></a>
                                    </td>
                                    <td>
                                        <a href="#"><img src="static/images/delete.png" height="30px" width="30px"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td width="100px">John Doe</td>
                                    <td>0700000000</td>
                                    <td>john.doe@mail.com</td>
                                    <td>Admin</td>
                                    <td>
                                        <a href="#"><img src="static/images/edit.png" height="30px" width="30px"></a>
                                    </td>
                                    <td>
                                        <a href="#"><img src="static/images/delete.png" height="30px" width="30px"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="checkout_button">
                            <a href class="btn bg-slate login_button" height="100px" width="150px">Add Employee</a>
                    </div>
        </div>
                {% endblock %}
          </div>

        <div class="footer">
            {% block footer %}
                <footer>
                   <i><h3><p> Copyright  &copy; <b>2018 Store-Manager</b></p></h3></i>
                </footer>
                {% endblock  %}
            </div>
        </div>
</body>
</html>